- content_for :page_title do
  #{Rails.configuration.x.local_domain}

.wrapper.thicc
  .sidebar-layout
    .main
      .panel
        %h2= Rails.configuration.x.local_domain

      .panel
        %h2= t 'about.instance_list'
        %table.table
          %thead
            %tr
              %th Domain
          %tbody
            - @instance_presenter.domain_list.each do |domain|
              %tr
                %td= link_to domain, "https://#{domain}"

    = render "about/sidebar"